<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ma grosse bourse</title>
</head>

<body ng-app="currency_search">
    <nav class="navbar navbar-light bg-light">
        <h1>Ma bourse</h1>
    </nav>
    <script src='lib/jquery-2.1.4.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <link rel="stylesheet" href="index.css">
    <!--JS -->

    <script src='lib/angular.js'></script>
    <script src='app/app.js'></script>
    <script src='app/currency_controller.js'></script>
    <script src='app/currency_directive.js'></script>
    <script src='app/currency.js'></script>
    <script src='app/cart.js'></script>
    <script src='app/cart_controller.js'></script>
    <script src='app/cart_directive.js'></script>
    <div class="row">
        <div id="top_left" class="col">
            <!--TOP LEFT-->
            <h2>Search currency</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
                <input ng-model="query" type="text" class="form-control" placeholder="" id="search" aria-label="" aria-describedby="basic-addon1">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody ng-controller="CurrencyController" id="currencies">
                    <tr ng-repeat="currency in currencies | filter :query">
                        <th class="name" scope="row">{{currency.name}}</th>
                        <th class="name" scope="row">{{currency.symbol}}</th>
                        <td class="price">{{currency.price}}</td>
                        <td>
                            <button type="button" ng-click="buy(currency)" class="btn btn-success">Buy</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--TOP RIGHT -->
        <div id="top_right" class="col" ng-controller="CartController">
            <h2>Cagnotte</h2>
            <h3>{{ value }}</h3>
        </div>
        <div class="w-100"></div>
        <!--BOTTOM LEFT-->
        <div id="bot_left" class="col">
            <h2>Portefeuille</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Price</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Sell</th>

                    </tr>
                </thead>
                <tbody ng-controller="CartController" id="cart">
                    <tr ng-repeat="action in actions">
                        <th class="name" scope="row">
                            <button type="button" class="btn btn-outline-secondary" ng-click="getInfo(action)">
                                {{action.name}}
                            </button>
                        </th>
                        <th class="name" scope="row">{{action.symbol}}</th>
                        <td class="price">{{action.price}}</td>
                        <td class="price">
                            <button type="button" ng-click="sell(action)" class="btn btn-success">Sell</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--BOTTOM RIGHT -->
    </div>
</body>

</html>